{% load staticfiles %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/ajax_search.css' %}">
{% endblock %}
{% if bands %}
    <div id="items">
        {% for band in bands %}
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div id="item">
                                <a href="{% url 'music:band' band.pk %}" title="{{ band.name }}" class="zoom" data-title="Bands" data-type="image" data-toggle="lightbox">
                                    <img src="{{ band.image.url }}" alt="{{ band.name }}"/>
                                </a>
                                <h3>{{ band.name }}</h3>
                        </div>
                </div>
        {% endfor %}
    </div>
{% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="no_result">
                <h4>No suggestions</h4>
        </div>
    </div>
{% endif %}