{% extends 'music/base.html' %}
{% load static %}
{% load app_filters %}

{% block title %} {{ album.name }} by {{ album.band.name }}{% endblock %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'music/Album_view.css' %}">

{% endblock %}

{% block body %}

     <div id="topSurface">

        <div class="container" id="topPart1">
            {% with image_path=album.image.url|check %}
                {% if image_path %}
                    <img class="img-thumbnail" id="topPartPic" src="{% static image_path %}" alt="{{ album.name }}"/>
                {% else %}
                    <img class="img-thumbnail" id="topPartPic" src="{% static 'music/image_for_site/noimage.jpg' %}"/>
                {% endif %}
            {% endwith %}
        </div>


        <div class="container" id="topPart2">
            <h1>{{ album.name }}</h1>
            <h3>by {{ album.band.name }}</h3>
        </div>

    </div>

    <div id="sect">
        <h1>Songs</h1>
        <div id="intermediate"></div>
    </div>

    <div id="subsect">
            <div id="inner">
                {% for song in album.song_set.all %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    {% if forloop.counter  %}
                    <div class="container" id="part1">
                        <h4>{{ forloop.counter }}. {{ song.name|truncatewords:6 }}</h4>
                         <div id="intermediate2"></div>
                        <br>
                        {% with music_path=song.song_file.url|music_check %}
                            <audio controls>
                                <source src="{% static music_path %}" type="audio/mp3">
                            </audio>
                        {% endwith %}
                        <br><br>
                        <div id="intermediate2"></div>
                        <br>
                    </div>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        <br><br>
    </div>



{% endblock %}