{% extends 'music/base.html' %}

{% block title %}{{ band.name }} band{% endblock %}

{% load staticfiles %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'music/BandView.css' %}">
{% endblock %}


{% block body %}

    <div id="topSurface">

        <div class="container" id="topPart1">
            <img class="img-thumbnail" id="topPartPic" src="{{ band.image.url }}" alt="{{ band.name }}"/>
        </div>


        <div class="container" id="topPart2">
            <h1>{{ band.name }}</h1>
            <p>{{ band.description|truncatewords:100 }}</p>
        </div>

    </div>
    <div id="sect">
        <h1>Albums({{ band.album_set.all.count }})</h1>
        <div id="intermediate"></div>
    </div>


    <div class="container" id="albumView">
        <div class="row">
            {% for album in band.album_set.all %}
                <article class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <a href="{% url 'music:album' album.pk %}" title="{{ album.name }}" class="zoom" data-title="Albums" data-type="image" data-toggle="lightbox">
                                    <img src="{{ album.image.url }}" alt="{{ album.name }}" id="itemGallery"/>
                                </a>

                            </div>
                            <div class="panel-footer">
                                <h4><a href="{% url 'music:album' album.pk %}" title="{{ album.name }}"><strong style="color: black">{{ album.name|truncatewords:5 }}</strong></a></h4>
                                <h5><a href="#" style="color: darkgray">Example</a></h5>
                                <span class="pull-right">
                                    <i id="like1" class="glyphicon glyphicon-thumbs-up"></i>
                                    <i id="like1-bs3"></i>
                                    <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i>
                                    <i id="dislike1-bs3"></i>
                                </span>
                            </div>
                        </div>
                </article>
            {% endfor %}
        </div>
    </div>





{% endblock %}