{% extends 'music/base.html' %}
{% block title %}Cool albums{% endblock %}

{% block body %}

<div id="theBandsCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#theBandsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#theBandsCarousel" data-slide-to="1"></li>
        <li data-target="#theBandsCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
                <div class="carousel-caption">

                </div>
        </div>
        <div class="item">
            <div class="slide2"></div>
                <div class="carousel-caption">
                    <h1>Listen</h1>
                </div>
        </div>
        <div class="item">
            <div class="slide3"></div>
                <div class="carousel-caption">
                    <h1>Enjoy</h1>
                </div>
        </div>
    </div>
</div>

    <br>
    <br>
    <br>
    <br>
    <div class="container text-center">
    <a href="#"><button class="btn btn-warning navbar-btn  btn-lg" style="font-family: Pacifico, sans-serif;
    height: 75px; width: 300px; color: black; background-color: lawngreen">Download</button></a>
    </div>

<div class="container">
     <div class="row">
            {% for band in bands %}
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="container">
                        <a href="{% url 'music:band' band.pk %}"><img src="{{ band.image.url }}" class="img-responsive"
                                                                      style="height: 200px; width: 200px"/></a>
                    </div>
                </div>
            {% endfor %}
     </div>
</div>

{% endblock %}