{% extends 'music/base.html' %}

{% block title %}Home page{% endblock %}

{% load staticfiles %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'music/initial.css' %}">

{% endblock %}

{% block body %}


    <div id="theCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#theCarousel" data-slide-to="1"></li>
            <li data-target="#theCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1"></div>
                    <div class="carousel-caption">
                        <h1>Play on</h1>
                    </div>
            </div>
            <div class="item">
                <div class="slide2"></div>
                    <div class="carousel-caption">
                        <h1>Listen</h1>

                    </div>
            </div>
            <div class="item">
                <div class="slide3"></div>
                    <div class="carousel-caption">
                        <h1>Enjoy</h1>
                    </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev" id="leftCtrl">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next" id="rightCtrl">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h2 class="modal-title" style="text-align: center">Sign up</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="{% url 'music:register' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/user/form_template.html' %}
                        <p>If you don't have an account. You can <a href="{% url 'music:register' %}">register</a> here
                        </p>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="subsect">
        <img class="subphoto1" src="/media/music/image_for_site/banddds.png"/>
        <h1>Feel free to listen to music</h1>
    </div>
    <div class="sect photo1"><p>Hello world</p></div>
    <div class="subsect">
        <img class="subphoto2" src="/media/music/image_for_site/books.png"/>
        <h1>Read books whenever you want</h1>
    </div>
    <div class="sect photo2"></div>
    <div class="subsect">
        <img class="subphoto3" src="/media/music/image_for_site/travel.png"/>
    </div>
    <div class="sect photo3"></div>
    <div class="subsect">
        <img class="subphoto4" src="/media/music/image_for_site/calendar-icon.png"/>
    </div>
<!-- footer -->
    <div class="footer">
        <div class="container">
            <a href="#theCarousel"><i class="glyphicon glyphicon-menu-up"></i></a>
            <br><br><br>
            <div class="row" id="footer-middle">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul style="list-style-type:none">
                        <li>PRODUCT</li>
                        <li><br></li>
                        <li>Business</li>
                        <li>Compare</li>
                        <li>Features</li>
                        <li>Pricing</li>
                        <li>Mobile</li>
                        <li>App Showcase</li>
                        <li>Download</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul style="list-style-type:none">
                        <li>COMPANY</li>
                        <li><br></li>
                        <li>About Us</li>
                        <li>Blog</li>
                        <li>News</li>
                        <li>Press Releases</li>
                        <li>Jobs</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul style="list-style-type:none">
                        <li>LEARN MORE</li>
                        <li><br></li>
                        <li>Support</li>
                        <li>Developers</li>
                        <li>Referral</li>
                        <li>Affillate</li>
                        <li>Reseller</li>
                        <li>Folder Sharing FAQ</li>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="row" id="film">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img id="facebook" src="/media/music/image_for_site/facebook%20(1).png"/>
                    <img id="ln" src="/media/music/image_for_site/linkedin-512.png"/>
                    <img id="twitter" src="/media/music/image_for_site/twitter.png"/>
                    <img id="instagram" src="/media/music/image_for_site/inst.png"/>
                    <img id="google" src="/media/music/image_for_site/googlePlus.png"/>
                    <img id="youtube" src="/media/music/image_for_site/youtube-icon.png"/>
                </div>
            </div>
            <br>
            <div class="row" id="footer-intermediate"></div>
            <div id="footer-end">
                <h6>&copy 2016 MusicLoft, Inc. All Rights Reserved.</h6>
                <h5>Terms of Service * Privacy Policy * Site Map.</h5>
            </div>
            <br><br><br><br>
        </div>
    </div>

{% endblock %}
