{% extends 'music/base.html' %}
{% block title %}Home page{% endblock %}

{% block body %}

    <div class = "BandMain">
      <div class="collapse navbar-collapse " id="topNavBar">
        <nav class = "navbar navbar-default">
            <div class = "container-fluid">
                 <div class = "navbar-header">
                    <a href = "#" class ="navbar-brand">Bands</a>
                </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href = "#"><h4>See all >> </h4></a></li>
            </ul>
        </div>

    <section>

        <div class = "row">
        {% for band in bands %}
            <div class = "col-sm-2 col-sm-2 col-sm-2 col-sm-2 col-sm-2 col-sm-2">
                 <div class = "container ">
                        <a href="{% url 'music:band' band.pk %}" class = "thumbnail">
                            <img src="{{ band.image.url }}" class = "img-responsive"  style ="height: 220px; width: 220px"/>
                            <div class="caption text-center">
                                 <h3>{{ band.name }}</h3>
                            </div>
                        </a>
                </div>
            </div>
            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
        {% endfor %}
        </div>
    </section>
            </nav>
        </div>
    </div>


    <div class = "AlbumMain">
          <div class="collapse navbar-collapse " id="topNavBar">
            <nav class = "navbar navbar-default">
                <div class = "container-fluid">
                     <div class = "navbar-header">
                        <a href = "#" class ="navbar-brand">Albums</a>
                    </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href = "#"><h4>See all >></h4></a></li>
                </ul>
            </div>
    <section>
        <div class = "row">
            {% for album in albums %}
                    <div class="col-md-3 col-md-3 col-md-3 col-md-3">
                        <div class = "container">
                            <a href="{% url 'music:album' album.pk %}" class = "thumbnail" >
                                <img src="{{ album.image.url }}" class = "img-responsive" height = "300px" width="300px"/>
                                <div class="caption text-center">
                                     <h3>{{ album.name }}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        </div>
    </section>
            </nav>
        </div>
    </div>

    <div class = "SongMain">
          <div class="collapse navbar-collapse " id="topNavBar">
            <nav class = "navbar navbar-default">
                <div class = "container-fluid">
                     <div class = "navbar-header">
                         <a href = "#" class ="navbar-brand">Top tracks</a>
                    </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href = "#"><h4>See all >></h4></a></li>
                </ul>
            </div>
            <section>
                    {% for song in songs %}
                        <div class = "col-md-6 col-md-6">
                            <div class = "container">
                                <div class="audio-player">
                                    <h3>{{ song.name }} by {{ song.band }}</h3>
                                    <img class="cover" src="{{ song.image }}" alt="">
                                    <audio id="audio-player" src="{{ song.song_file.url }}" type="audio/mp3" controls="controls"></audio>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </section>
            </nav>
        </div>
    </div>


{% endblock %}
