#theAlbumsCarousel .slide1{
    background-image: url(/media/music/album/Intense_8BuMtxW.jpg);
    color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#theAlbumsCarousel .slide2{
    background-image: url(/media/music/album/A_head_full_of_dreams.jpg);
     color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#theAlbumsCarousel .slide3{
    background-image: url(/media/music/album/Intense.jpg);
    color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.carousel-caption h1{
    font-size: 7.4em;
    font-family: 'Pacifico', cursive;
    padding-bottom: .4em;
    justify-content: center;
}
.carousel-caption p{
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}