*{
    margin: 0;
}
body{
    background: linear-gradient(#ffffff, #757575);
    background-repeat: no-repeat;
    background-color: #757575;
}
#topSurface{
    height: 60vmax;
    width: 100%;
    display: inline-block;
}

#topSurface #topPart1{
    width: 50%;
    float: left;
    height: 100%;
    margin-top: 8%;
}
#topSurface #topPart1 #topPartPic{
    height: auto;
    width: 100%;
}
#topSurface #topPart2{
    width: 50%;
    float: right;
    height: 100%;
    margin-top: 8%;
}
#topSurface #topPart2 h1{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-align: justify;
    color: #000000;
    font-size: 3vmax;

}
#topSurface #topPart2 p{
    font-size: 2vmax;
    color: #212121;
    line-height: 1;
}

#sect{
    height: 0;
}
#sect h1{
    margin-left: 10%;
    font-size: 5vmax;
    color: #000000;
    font-family: "High Tower Text", sans-serif;
}
#intermediate{
    border-bottom: 4px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#itemGallery{
    height: 300px;
    width: 300px;
}
#albumView{
    margin-left: 3.6%;
    width: 100%;
    margin-top: 20%;
}
#albumView img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.panel .panel-footer
{
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.panel .panel-footer h4
{
    display: inline;
    font: 400 normal 0.8em "Roboto",Arial,Verdana,sans-serif;
    color: #34495e;
    margin: 0 !important;
    padding: 0 !important;
}
.panel .panel-footer i.glyphicon
{
    display: inline;
    font-size: 1.125em;
    cursor: pointer;
}
.panel .panel-footer i.glyphicon-thumbs-up
{
    color: #1abc9c;
}
.panel .panel-footer i.glyphicon-thumbs-down
{
    color: #e74c3c;
    padding-left: 5px;
}
.panel .panel-footer div
{
    width: 15px;
    display: inline;
    font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
    color: #34495e; text-align: center;
    background-color: transparent !important;
    border: none !important;
}
.panel
{
    position: relative;
    display: inline-block;
    border-radius: 0 !important;
}
.panel-default
{
    border-color: #ebedef !important;
}
.panel .panel-body
{
    position: static;
    padding: 0 !important;
    height: auto;
}
.panel .panel-body a
{
    overflow: visible;
}
.panel .panel-body a img
{
    display: block;
    margin: 0;
    width: 250px;
    height: 250px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}


