#theBandsCarousel .slide1{
    background-image: url(/media/music/band/WALK_THE_MOON.jpg);
    color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
#theBandsCarousel .slide2{
    background-image: url(/media/music/band/Nirvana.jpg);
    color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#theBandsCarousel .slide3{
    background-image: url(/media/music/band/Red_Hot_Chili_Peppers.jpg);
    color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#NewNotablee{
    color: #3c763d;
}
#img_style {
    display: inline-table;
    background-color: #3c3c3c;
    border-color: #0f0f0f;
    border-radius: 40%;
    height: 100px;
}
img {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

img:hover {
	cursor: pointer;
	-webkit-transform: scale(5, 5);
    -ms-transform: scale(1, 1);
    transform: scale(1.5, 1.5);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 5px 5px 5px #888888;
    z-index: 1;
}
.panel .panel-footer
{
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.panel .panel-footer h4
{
    display: inline;
    font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
    color: #34495e;
    margin: 0 !important;
    padding: 0 !important;
}
.panel .panel-footer i.glyphicon
{
    display: inline;
    font-size: 1.125em;
    cursor: pointer;
}
.panel .panel-footer i.glyphicon-thumbs-up
{
    color: #1abc9c;
}
.panel .panel-footer i.glyphicon-thumbs-down
{
    color: #e74c3c;
    padding-left: 5px;
}
.panel .panel-footer div
{
    width: 15px;
    display: inline;
    font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
    color: #34495e; text-align: center;
    background-color: transparent !important;
    border: none !important;
}
.panel
{
    position: relative;

    display: inline-block;
    border-radius: 0 !important;
}
.panel-default
{
    border-color: #ebedef !important;
}
.panel .panel-body
{
    position: static;
    padding: 0 !important;
    overflow: hidden;
    height: auto;
}
.panel .panel-body a
{
    overflow: visible;
}
#photoGallery{
     height: 200px;
    width: 200px;
}
.panel .panel-body a img
{

    display: block;
    margin: 0;
    width: 250px;
    height: 250px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.modal-title
{
    font: 400 normal 1.625em "Roboto",Arial,Verdana,sans-serif;
}
.modal-footer
{
    font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
}
#panMain{
    width: 100%;
    font-family: Pacifico, serif;
    position: relative;
    text-align: center;
    color: darkolivegreen;
    background-color: navajowhite;
    height: 70px;
}
#footIndex {
    height: 100px;
    background: rgba(100, 100, 100, 0.3);
    color: wheat;
    letter-spacing: 3px;

}