.container-fluid{
    color: yellowgreen;
}
.thumbnail{
    background-color: black;

}
.thumbnail .caption{
    color: yellow;
    text-align: center;
}
.jumbotron{
    background-image: url('/media/music/image_for_site/img10.jpg');
}
