*{
    margin: 0;

}
body, html{
    height: 100%;
    width: 100%;
}
#theCarousel{
    border: solid 4px;
    border-color: black;
}
#theCarousel h1{
    font-family: Pacifico, serif;
    font-size: 130px;
    margin-bottom: 200px;
    color: #FF3D00;
    text-shadow: white 2px 0;
}
#theCarousel p{
    font-family: Pacifico, sans-serif;
}
#theCarousel .slide1 {
    background-image: url(/media/music/image_for_site/crowd.jpg);
    color: white;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#theCarousel .slide2{
    background-image: url(/media/music/image_for_site/img2.jpg);
    color: white;
    height:800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#theCarousel .slide3{
    background-image: url(/media/music/image_for_site/slide3.jpg);
    color: black;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#leftCtrl {
    height: 800px;
    display: inline;
}
#rightCtrl {
    height: 800px;
    display: inline;
}

.sect {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.subsect{
    height: 50%;
    background-color: #EEEEEE;

}
.subsect h1{
    display: inline-block;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 50px;
    font-family: Pacifico, sans-serif;
}

.photo1{
    background-image: url("/media/music/image_for_site/travel5.jpg");
}
.subphoto1, .subphoto2, .subphoto3, .subphoto4{
    height: 180px;
    width: 180px;
    background-attachment: inherit;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #EEEEEE;
}

.photo2{
    background-image: url("/media/music/image_for_site/travel4.jpg");
}
.photo3{
    background-image: url("/media/music/image_for_site/travel3.jpg");
}

.footer{
    width: 100%;
    height: auto;
    background-color: #212121;
    text-align: center;
}
.footer a{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.footer i{
    background-color: #212121;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    border-color: white;
}
.footer ul li{
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    display: block;
}
#facebook, #instagram, #ln, #twitter, #google, #youtube{
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    border-radius: 100%;
}
#footer-middle{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#footer-intermediate{
    border-bottom: groove;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#footer-end h6{
    display: inline-block;
    color: #9E9E9E;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#footer-end h5{
    display: inline;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: right;
}
#film{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    letter-spacing: 20px;
}