#bodyMain{
    font-family: 'Pacifico', cursive;
    color: lightgreen;
    background-color: #5e5e5e;
}
#theCarousel .slide1 {
    background-image: url(/media/music/image_for_site/img1.jpg);
    color: white;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#theCarousel .slide2{
    background-image: url(/media/music/image_for_site/img2.jpg);
    color: white;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#theCarousel .slide3{
    background-image: url(/media/music/image_for_site/img3.jpg);
    color: black;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#footIndex {
    color: black;
}