.top .navbar{
    position: relative;
    background-color: lightcyan;

}
.top .navbar-brand{
    color: blue;
}
.BandMain .navbar{
    background-color: lightcyan;
}
.BandMain .navbar-brand{
    color: darkblue;
    font-family: "Century Schoolbook", sans-serif;
    font-size: 60px;
}
.BandMain section{
    background-color: darkslategrey;
}
.BandMain .caption{
    color: yellow;
}
.AlbumMain .navbar{
    background-color: lightcyan;
    border-collapse: collapse;
}
.AlbumMain .navbar-brand{
    color: darkblue;
    font-family: "Century Schoolbook", sans-serif;
    font-size: 60px;
    position: absolute;
}
.AlbumMain .caption{
    color: darkgoldenrod;
}
.AlbumMain section{
    background-color: darkslategrey;
}
body{
    background-color: black;
}
.thumbnail{
    background-color: black;
    display: inline-table;
}

.container{
    margin: -12px;
    margin-right: -20px;
    border-collapse: collapse;
    border-spacing: 0;
    flex-wrap: wrap;
}

