body{
    background-color: #757575;
}
#Log{
    margin-top: 8%;
    height: 55%;
    width: 100%;
    display: block;
}
#Log #LogMainCont{
    width: 50%;
    float: left;
    height: 100%;
}
#Log #LogMainCon1{
    width: 50%;
    float: right;
    height: 100%;
}
#Log #LogMainCont h3{
    font-size: 40px;
}