body{
    background: url('/media/music/image_for_site/altes-klavier-169464.jpg');

}

#sect{
    margin-top: 8%;
    height: 100%;
    text-align: center;
}
#sect .panel-body h3{
    color: honeydew;
}
#sect .panel-footer{
    width: 75%;
    margin-left: 10%;
    background-color: black;
    color: lawngreen;
    border: dashed 3px black;
}