body{
    overflow-x: auto;
    overflow-y: auto;
    background-position: bottom;
    background: url('/media/music/image_for_site/signup.jpg');
    background-size: 100% 820px;
    background-repeat: no-repeat;
}
#sect{
    margin-left: 35vmax;
    margin-top: 15vmax;
    margin-bottom: 15vmax;
}
#sect .panel-footer{
    width: 50%;
    border-radius: 10px;
}
#sect h3{
    color: #101010;
}