body{
    background-color: #757575;
}
#Reg{
    margin-top: 8%;
    height: 55%;
    width: 100%;
    display: block;
}
#Reg #RegMainCont{
    width: 50%;
    float: left;
    height: 100%;
}
#Reg #RegMainCon1{
    width: 50%;
    float: right;
    height: 100%;
}
#Reg #RegMainCont h3{
    font-size: 40px;
}

